/* CSS declarations go here */
/*!
 * mystyle
 *
 * Copyright 2013 Meteor team
 */

 #footbal-table {
     width: 460px;
     margin: 0 auto;
 }
 
 #middle {
    width:80%;
    margin:0 auto;
     vertical-align: middle;
     clear: both;
 }

 .page-header {
    text-align: center;
 }

 .login-buttons {
    float: right;
 }
 
 .avatar {
     width: 200px;
     cursor: pointer;
 }
 
 .wrapper {
   clear: both;
 }
 
 .right {
     float: right;
 }
 
 .img-avatar { 
     border: 1px solid gray;     
 }
 
 .wrapper-result {
     margin-top: 80px; 
 }
 
 #middle .btn {
     float: left;
     margin-top: 80px; 
     padding: 20px;
     font-size: 30px;
 }
 
 .result {
    float: left;
    display: block;
    margin-top: 80px; 
    padding: 20px;
    margin-bottom: 0;
    font-size: 50px;

    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     
 }
 .img-table {
     float: left;
     height: 200px;
 }

 .match-buttons {
    text-align: center;
 }