<head>
  <title>efm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<body>
  {{> main}}
</body>

<template name="main">
	{{#if loading}}
	loading...
	{{else}}  
		{{> page}}
	{{/if}}
</template>

<template name="page">
    <div class="container">
        <div class="page-header">
            <h1>Enterprise Football Manager</h1>
        </div>
        <div class="login-buttons">
            {{loginButtons}}    
        </div>
        <div id="footbal-table">         
            <div class="wrapper"> 
                <span id="a1" class="avatar"><img src="avatar.jpeg" width="60px" alt="avatar1" />{{a1name}}</span>

                <span id="d1" class="avatar right"><img src="avatar.jpeg" width="60px" alt="avatar2" />{{d1name}}</span>
            </div>                
            <div id="middle">

                <span class="result">{{team2Score}}</span>

                <img class="img-table" alt="table" src="table.jpg" /> 

                <span class="result">{{team1Score}}</span>

            </div>   
            <div class="wrapper"> 
                <span id="d2" class="avatar"><img src="avatar.jpeg" width="60px" alt="avatar3" />{{d2name}}</span>

                <span id="a2" class="avatar right"><img src="avatar.jpeg" width="60px" alt="avatar4" />{{a2name}}</span>
            </div>                
            <br />
            <div class="match-buttons wrapper">
                {{#if matchStarted}}
                    <button type="button" id="i-scored" class="btn btn-large btn-success">Hurray, I scored!!!!</button>
                    <br /><br />
                    <button type="button" id="end-match" class="btn btn-small btn-danger">End</button>
                {{else}}
		    <button type="button" id="start-match" class="btn btn-large btn-primary" {{canStartMatch}}>Start match!{{getMatchRequiredPlayersCount}}</button>
                {{/if}}
            </div>
        </div>
    </div>
</template>
